@charset "utf-8";
/* CSS Document */

#divform{
	background-image: url("../images/teapic18.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
	
}

#formone{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px;
}

#btncreate{
	background-color: #33A377;
	width: 500px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 22px;
	
}